In [72]:
#No me cambien las cosas perros
import pandas as pd
from sodapy import Socrata
import seaborn as sns

#aqui sacamos las tablas de datos de hospitales y desfibriladores 
client = Socrata("analisi.transparenciacatalunya.cat", None)

desfibriladors = client.get("wpud-ukyg")
hospitales = client.get("8gmd-gz7i")

df_desfibriladors = pd.DataFrame.from_records(desfibriladors) 
df_hospitales = pd.DataFrame.from_records(hospitales) 
df_socioeconomic = pd.read_csv("socio_eco.csv")

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [ ]:
import pandas as pd
from sodapy import Socrata
import seaborn as sns

df_socioeconomic = pd.read_csv("socio_eco.csv")
df_socioeconomic = df_socioeconomic[['any', 'municipi', 'concepte', 'valor']]
# Limpiar valores vacíos o '..'
df_socioeconomic['valor'] = pd.to_numeric(df_socioeconomic['valor'], errors='coerce')

# Pivotar
df_socioeconomic = df_socioeconomic.pivot_table(
    index=['any', 'municipi'],
    columns='concepte',
    values='valor',
    aggfunc='first'
).reset_index()

# ahora sustituyo los valores NaN por la media de la columna
for column in df_socioeconomic.columns:
    if df_socioeconomic[column].dtype in ['float64', 'int64']:
        mean_value = df_socioeconomic[column].mean()
        df_socioeconomic[column].fillna(mean_value, inplace=True)


        
df_socioeconomic

C:\Users\German\AppData\Local\Temp\ipykernel_27940\4072343761.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_socioeconomic[column].fillna(mean_value, inplace=True)

concepte,any,municipi,estrangers de països de renda baixa o mitjana (%),població amb estudis baixos (%),població jove sense estudis postobligatoris (%),població ocupada (%),renda mitjana per persona (€),treballadors de baixa qualificació (%)
0,2022,Abella de la Conca,7.2,18.5,24.549675,64.2,10999.0,13.250429
1,2022,Abrera,5.4,12.6,5.900000,72.4,15746.0,9.900000
2,2022,Agramunt,17.1,17.0,25.600000,71.8,13776.0,17.100000
3,2022,Aguilar de Segarra,0.3,13.3,24.549675,77.3,16814.0,13.250429
4,2022,Agullana,8.8,13.9,15.600000,70.3,19392.0,13.250429
...,...,...,...,...,...,...,...,...
942,2022,Viver i Serrateix,0.6,15.1,24.549675,81.9,16415.0,13.250429
943,2022,Xerta,4.2,16.4,14.100000,59.3,12657.0,11.700000
944,2022,Àger,9.9,18.0,15.800000,71.4,14602.0,13.250429
945,2022,Òdena,4.6,14.3,25.300000,71.7,14288.0,11.200000
946,2022,Òrrius,1.3,4.3,7.400000,73.2,16837.0,13.250429

In [4]:
#PREPARACION DE LAS TABLAS CON DESFIBRILADORES 
df_desfibriladors = df_desfibriladors.dropna(subset=['latitud', 'longitud'])
df_hospitales = df_hospitales.dropna(subset=['latitud', 'longitud'])
# dejo solo  los que contengan la palabra "Salut" en la categoria   
df_hospitales = df_hospitales[df_hospitales['categoria'].str.contains("Salut", na=False)]
# me quedo solo con las columnas longitud y latitud
df_hospitales = df_hospitales[['latitud', 'longitud']]
df_desfibriladors = df_desfibriladors[['latitud', 'longitud']]