This firs python notebook will serve as a first data analysis and cleaning. We are looking into the cardiacovascular data and population.

In [20]:
import pandas as pd
from sodapy import Socrata
#aqui sacamos las tablas de datos de hospitales y desfibriladores 
client = Socrata("analisi.transparenciacatalunya.cat", None)

desfibriladors = client.get_all("wpud-ukyg")
df_desfibriladors = pd.DataFrame.from_records(desfibriladors) 

url = "https://www.idescat.cat/serveis/consultes/ca/censph_10_mun_2024.csv"
df_cens = pd.read_csv(url, sep=";", encoding="utf-8")
df_cens.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.
/var/folders/_r/lv31y_xx5hzfyhbw22ddz7gr0000gn/T/ipykernel_58561/4294858911.py:10: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cens = pd.read_csv(url, sep=";", encoding="utf-8")

    any     geo            municipi    edat   sexe  concepte  estat  valor
0  2024  250019  Abella de la Conca  0 anys  homes  població    NaN      0
1  2024  250019  Abella de la Conca  0 anys  dones  població    NaN      1
2  2024  250019  Abella de la Conca  0 anys  total  població    NaN      1
3  2024  250019  Abella de la Conca   1 any  homes  població    NaN      0
4  2024  250019  Abella de la Conca   1 any  dones  població    NaN      1

In [31]:
path_to_dades = "./dades_mortalitat.xlsx"
df = pd.read_excel(path_to_dades, sheet_name=0, header=None)

print(df[0].unique())

['ALT CAMP' nan 'Dones' 'I.Infeccioses' 'II.Tumors' 'III.Sang'
 'IV.Endocrines' 'V.Mentals' 'VI.Nerviós' 'VII.Ull' 'VIII.Oïda'
 'IX.Circulatori' 'X.Respiratori' 'XI.Digestiu' 'XII.Pell'
 'XIII.Osteomuscular' 'XIV.Genitourinari' 'XV.Embaràs i part'
 'XVI.Perinatal' 'XVII.Congènites' 'XVIII.Mal definides' 'XX.Externes'
 'XXI. Total' 'Homes' 'Total' 'ALT EMPORDÀ' 'ALT PENEDÈS' 'ALT URGELL'
 'ALTA RIBAGORÇA' 'ANOIA' 'BAGES' 'BAIX CAMP' 'BAIX EBRE' 'BAIX EMPORDÀ'
 'BAIX LLOBREGAT' 'BAIX PENEDÈS' 'BARCELONÈS' 'BERGUEDÀ' 'CERDANYA'
 'CONCA DE BARBERÀ' 'GARRAF' 'GARRIGUES' 'GARROTXA' 'GIRONÈS' 'MARESME'
 'MOIANÈS' 'MONTSIÀ' 'NOGUERA' 'OSONA' 'PALLARS JUSSÀ' 'PALLARS SOBIRÀ'
 "PLA D'URGELL" "PLA DE L'ESTANY" 'PRIORAT' "RIBERA D'EBRE" 'RIPOLLÈS'
 'SEGARRA' 'SEGRIÀ' 'SELVA' 'SOLSONÈS' 'TARRAGONÈS' 'TERRA ALTA' 'URGELL'
 'ARAN' 'VALLÈS OCCIDENTAL' 'VALLÈS ORIENTAL']

In [32]:
comarques = ['ALT CAMP', 'ALT EMPORDÀ', 'ALT PENEDÈS', 'ALT URGELL', 'ALTA RIBAGORÇA',
             'ANOIA', 'BAGES', 'BAIX CAMP', 'BAIX EBRE', 'BAIX EMPORDÀ', 'BAIX LLOBREGAT',
             'BAIX PENEDÈS', 'BARCELONÈS', 'BERGUEDÀ', 'CERDANYA', 'CONCA DE BARBERÀ',
             'GARRAF', 'GARRIGUES', 'GARROTXA', 'GIRONÈS', 'MARESME', 'MOIANÈS', 'MONTSIÀ',
             'NOGUERA', 'OSONA', 'PALLARS JUSSÀ', 'PALLARS SOBIRÀ', "PLA D'URGELL",
             "PLA DE L'ESTANY", 'PRIORAT', "RIBERA D'EBRE", 'RIPOLLÈS', 'SEGARRA', 'SEGRIÀ',
             'SELVA', 'SOLSONÈS', 'TARRAGONÈS', 'TERRA ALTA', 'URGELL',
             'ARAN', 'VALLÈS OCCIDENTAL', 'VALLÈS ORIENTAL']

df['Comarca'] = df[0].where(df[0].isin(comarques))
df['Comarca'] = df['Comarca'].ffill()

sexes = ['Dones', 'Homes', 'Total']
df['Sexe'] = df[0].where(df[0].isin(sexes))
df['Sexe'] = df['Sexe'].ffill()

df.rename(columns={0: 'Cause'}, inplace=True)

cause_labels = [
    "I.Infeccioses", "II.Tumors", "III.Sang", "IV.Endocrines", "V.Mentals",
    "VI.Nerviós", "VII.Ull", "VIII.Oïda", "IX.Circulatori", "X.Respiratori",
    "XI.Digestiu", "XII.Pell", "XIII.Osteomuscular", "XIV.Genitourinari",
    "XV.Embaràs i part", "XVI.Perinatal", "XVII.Congènites",
    "XVIII.Mal definides", "XX.Externes", "XXI. Total"
]

df_final = df[df['Cause'].isin(cause_labels)].copy()

df_final.reset_index(drop=True, inplace=True)

# Now df_final is tidy and ready
print(df_final.head())

           Cause  1  2  3  4  5  6  7   8  9  ... 17     18     19      20  \
0  I.Infeccioses  0  0  0  0  0  0  0   0  1  ...  0      0      0       0
1      II.Tumors  0  0  0  0  0  1  3  16  7  ...  0  32.55  85.54  495.97
2       III.Sang  0  0  0  0  0  0  0   0  0  ...  0      0      0       0
3  IV.Endocrines  0  0  0  0  0  0  0   0  0  ...  0      0      0       0
4      V.Mentals  0  0  0  0  0  0  0   0  0  ...  0      0      0       0

       21      22       23      24   Comarca   Sexe
0   42.75  120.26  1198.26    61.7  ALT CAMP  Dones
1  299.27  841.85  1307.19  233.59  ALT CAMP  Dones
2       0   60.13        0    4.41  ALT CAMP  Dones
3       0       0   435.73   17.63  ALT CAMP  Dones
4       0   180.4  1089.32    57.3  ALT CAMP  Dones

[5 rows x 27 columns]

In [33]:
df_final

,Cause,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,Comarca,Sexe
0,I.Infeccioses,0,0,0,0,0,0,0,0,1,...,0,0,0,0,42.75,120.26,1198.26,61.7,ALT CAMP,Dones
1,II.Tumors,0,0,0,0,0,1,3,16,7,...,0,32.55,85.54,495.97,299.27,841.85,1307.19,233.59,ALT CAMP,Dones
2,III.Sang,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,60.13,0,4.41,ALT CAMP,Dones
3,IV.Endocrines,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,435.73,17.63,ALT CAMP,Dones
4,V.Mentals,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,180.4,1089.32,57.3,ALT CAMP,Dones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,XVI.Perinatal,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.41,VALLÈS ORIENTAL,Total
2516,XVII.Congènites,1,0,1,1,0,0,1,0,1,...,0,0,1.34,0,2.49,0,8.75,1.41,VALLÈS ORIENTAL,Total
2517,XVIII.Mal definides,0,0,0,0,2,3,1,2,10,...,4.46,5.08,1.34,3.49,24.91,100.67,428.81,21.68,VALLÈS ORIENTAL,Total
2518,XX.Externes,0,0,0,4,9,14,14,25,11,...,20.09,23.69,18.71,43.63,27.4,132.89,420.06,37.23,VALLÈS ORIENTAL,Total
2519,XXI. Total,7,1,3,9,19,43,115,270,412,...,42.41,72.76,153.71,471.25,1026.28,3302.06,14439.49,789.15,VALLÈS ORIENTAL,Total

In [34]:
# Get list of all columns
cols = df_final.columns.tolist()

# Move 'Comarca' and 'Sexe' to the front
cols_ordered = ['Comarca', 'Sexe'] + [c for c in cols if c not in ['Comarca', 'Sexe']]

# Reorder the dataframe
df_final = df_final[cols_ordered]

# Reset index (optional)
df_final.reset_index(drop=True, inplace=True)

# Check result
print(df_final.head())

    Comarca   Sexe          Cause  1  2  3  4  5  6  7  ... 15 16 17     18  \
0  ALT CAMP  Dones  I.Infeccioses  0  0  0  0  0  0  0  ...  0  0  0      0
1  ALT CAMP  Dones      II.Tumors  0  0  0  0  0  1  3  ...  0  0  0  32.55
2  ALT CAMP  Dones       III.Sang  0  0  0  0  0  0  0  ...  0  0  0      0
3  ALT CAMP  Dones  IV.Endocrines  0  0  0  0  0  0  0  ...  0  0  0      0
4  ALT CAMP  Dones      V.Mentals  0  0  0  0  0  0  0  ...  0  0  0      0

      19      20      21      22       23      24
0      0       0   42.75  120.26  1198.26    61.7
1  85.54  495.97  299.27  841.85  1307.19  233.59
2      0       0       0   60.13        0    4.41
3      0       0       0       0   435.73   17.63
4      0       0       0   180.4  1089.32    57.3

[5 rows x 27 columns]

In [35]:
df_final.to_csv("mortality.csv", index=False, encoding="utf-8-sig")

In [37]:
df_mortality = pd.read_csv("mortality.csv", sep=",", encoding="utf-8-sig")
df_mortality

,Comarca,Sexe,Cause,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,ALT CAMP,Dones,I.Infeccioses,0,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,42.75,120.26,1198.26,61.70
1,ALT CAMP,Dones,II.Tumors,0,0,0,0,0,1,3,...,0.00,0.00,0.00,32.55,85.54,495.97,299.27,841.85,1307.19,233.59
2,ALT CAMP,Dones,III.Sang,0,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,60.13,0.00,4.41
3,ALT CAMP,Dones,IV.Endocrines,0,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,435.73,17.63
4,ALT CAMP,Dones,V.Mentals,0,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,180.40,1089.32,57.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,VALLÈS ORIENTAL,Total,XVI.Perinatal,6,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.41
2516,VALLÈS ORIENTAL,Total,XVII.Congènites,1,0,1,1,0,0,1,...,2.19,1.98,0.00,0.00,1.34,0.00,2.49,0.00,8.75,1.41
2517,VALLÈS ORIENTAL,Total,XVIII.Mal definides,0,0,0,0,2,3,1,...,0.00,0.00,4.46,5.08,1.34,3.49,24.91,100.67,428.81,21.68
2518,VALLÈS ORIENTAL,Total,XX.Externes,0,0,0,4,9,14,14,...,0.00,7.91,20.09,23.69,18.71,43.63,27.40,132.89,420.06,37.23
2519,VALLÈS ORIENTAL,Total,XXI. Total,7,1,3,9,19,43,115,...,6.58,17.79,42.41,72.76,153.71,471.25,1026.28,3302.06,14439.49,789.15